{% extends "layout.html" %}
{% block content %}
    <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                            <i class="fa fa-arrows-h">

                            </i>
                        </a>
                            <table class="table table-hover">
                                <thead class="thead-default">
                                    <tr>
                                {% for item in headers_list %}
                                        <td>{{  item }}</td>
                                {% endfor %}
                                    </tr>
                                </thead>
                                {% for item in list %}
                                    <tr>
                                    {% for key,value in item.items %}
                                    <td><a> {{ value }}</a></td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}